.semitones {
    width : 25px;
}
.key {
    display: block;
    width: 18px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
}
.accid {
    display: block;
    width: 10px;
    height: 65px;
    background: black;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
}
.keyboard {
    position: relative;
    height: 100px;
    padding: 10px 0;
}
.pressed {
    background: #6ebfff;
}
.accid.pressed {
    background: #2D5C97;
}
.iterations {
    width: 25px;
}